* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #bbb;
    width: 70%;
    margin: 0 auto;
}

.container>h2 {
    font-size: 45px;
}

.container {
    width: 70%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.container img {
    width: 50%;
    padding: 10px;
}

.container h2 {
    margin: 20px;
}

.to-do {
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
}

.to-do ul {
    list-style: none;
}

.to-do li {
    padding: 5px 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.to-do li:not(:last-child) {
    border-bottom: 1px solid black;
}

.to-do li i {
    cursor: pointer;
}

.to-do li input {
    position: absolute;
    right: 50px;
}

.linethrough {
    text-decoration: line-through;
}

.add-to-do input,
.add-to-do button {
    height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}

.add-to-do button {
    background-color: green;
    text-transform: uppercase;
    color: white;
}